<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeaCpOT0xGQ1Yt1tPZGZtgPm3dAMHWcqc</string>
	<key>GCM_SENDER_ID</key>
	<string>950866677017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codesphere.lettersnumber.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>letters-and-numbers-24</string>
	<key>STORAGE_BUCKET</key>
	<string>letters-and-numbers-24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950866677017:ios:fa30cbd8eb048a83120988</string>
</dict>
</plist>